{
    // Enable minification
    "minify": true,
    // Optional, configure minifcation options
    "jsc": {
        "minify": {
            "compress": {
                "unused": false
            },
            "mangle": true
        }
    }
}
   